{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'portfolio/custom.css' %}">
  <link rel="stylesheet" href="{% static 'portfolio/nav.css' %}">
  <link rel="stylesheet" href="{% static 'portfolio/json.css' %}">
  <link rel="icon" type="image/png" href="{% static "portfolio/logo.png" %}">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
</head>

<!--navbar-->
<body>
  <nav id="topNav" class="navbar navbar-expand-md navbar-light">
    <div class="container firsthead">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static "portfolio/logo.png" %}" class="imglogo d-inline-block align-center" alt="VA Logo">
        <span>Vengad Alagarsamy</span></a>
        <div class="collapse navbar-collapse text-center" id="navbarNav">
          <ul class="navbar-nav ml-auto nav_links">
            <li>
              <a class="nav-link" href="https://github.com/vengadalagarsamy" target="_blank">GitHub</a>
            </li>
            <li>
              <a class="nav-link" href="https://uk.linkedin.com/in/vengad-alagarsamy-188096171" target="_blank">LinkedIn</a>
            </li>
          </ul>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </div>
  </nav>
  <hr class='nave'>

    <div class="container">
    {% block content %}
    {% endblock %}
    </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
