@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

/*---------------------------*/

#main {
  padding-left:0%;
  padding-right: 0%;
  text-align: center;
}

.postpic {
  width:100%;
  object-fit: cover;
  object-position: top;
}

.p4 {
  font-size: 200%;
  font-weight: 700;
  padding-top: 1%;
  padding-bottom: 1%;
  color: #3f80bf;
  text-decoration: none;
}

.p2 {
  font-size: 150%;
  padding-bottom: 2%;
  font-weight: 600;
  color: #999999
}

.p3 {
  text-align: left;
  font-size: 130%;
  font-family: helvetica;
  font-weight: 300;
}

.link {
  padding-bottom: 5%;
  color: #3f80bf;
  text-decoration:none;
}
